body{
	background-image:url("background.jpg");
	background-repeat:no-repeat ;
	background-size: cover;
	text-align: center;
	
}

.heading{
	margin-left: 500px;
}

	.player_1_login , .player_2_login
	{
		margin-left: 500px;
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#btn_login{
	margin-top: 50px;
	margin-left: 500px;
	width: 200px;
}